* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #006bac;
$secondary-color: #008835;

header {
  background-color: $primary-color;
  nav {
    height: 20vh;
    width: 100%;
    display: flex;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    justify-content: space-around;

    ul {
      list-style: none;
      display: flex;
    }
    div {
      display: flex;
      align-items: center;
    }
    li {
      margin-right: 1.5rem;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
.logo {
  width: 50px;
}
.imagen {
  height: 50px;
  width: 50px;
}
main {
  width: 100%;
  div {
    display: flex;
    justify-content: center;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
    }
  }
}
footer {
  background-color: $secondary-color;
  div {
    display: flex;
    justify-content: space-around;
  }
}

.centrar {
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h3 {
  background-color: $secondary-color;
  color: #ffffff;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: x-large;
}
h4 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: large;
}
.products {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}
$estilo: (
  color: $primary-color,
  centro: center,
  letra: #ffffff,
);

button {
  background-color: map-get($estilo, color);
  text-align: map-get($estilo, centro);
  color: map-get($estilo, letra);
}
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  @include flex-colum-center;
}
.container {
  @include flex-colum-center;
}
